#modi-create{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    // border: 1px solid black;
    // justify-content: space-around;
    // width: 1500px;
    // margin: auto;
    .default-input-box{
        display: flex;
        justify-content: space-between;
        width: 1200px;
    
        .album-img-box{
            // padding-top: 48px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            
            .album-input-info {
                margin-top: 15px;
                color: #a8a8a8;
            }

            .album-input-btn {
                font-weight: bold;
                font-size: 20px;
                margin-top: 10px;
                cursor: pointer;
            }

            .album-img {
                // box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px rgb(254, 3, 128),
                // 0 0 2px rgb(254, 3, 128), 0 0 13px rgb(254, 3, 128), 0 0 38px rgb(254, 3, 128), 0 0 50px rgb(254, 3, 128);
                // border: 1px; 
                width: 500px;
                height: 500px;
                display: flex;
                border-radius: 20px;
                box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #4566F6,
        0 0 2px #4566F6, 0 0 13px #4566F6, 0 0 38px #4566F6, 0 0 45px #4566F6;
            }
        }
        .default-input-section{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            #title-input{
                width: 450px;
            }

            .music-input{
                text-align: center;
                width: 400px;
                height: 50px;
                // margin: 5px;
                font-size: 22.5px;
                &::placeholder {
                    color: #fff
                  }
                // border-color: transparent;
                border:0;
                border-bottom: 3px solid transparent;
                border-image: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
                border-image-slice: 1;
                // border: 0px solid transparent;
                // background: #484848;
                // background: #694682;]
                outline: none;
                background: transparent;
                color: #fff;
                padding: 0 25px;
                // border: 0;
                // border-radius: 50px;
            }
            .music-input-btn {
                font-weight: bold;
                font-size: 20px;
                cursor: pointer;
            }
            .music-input-box{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 500px;
            }
            .music-genre-release{
                text-align: center;
                height: 35px;
                width: 400px;
                margin: 10px;
                font-size: 20px;
                color: #fff;
                outline: none;
                background: transparent;
                border:0;
                border-bottom: 3px solid transparent;
                border-image: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
                border-image-slice: 1;
            }
            .music-genre-release::-webkit-calendar-picker-indicator {
                cursor: pointer;
                filter: invert(1);
            }
        
        }
    }
    .music-lyrics-hashtag-box{
        margin:60px 0 20px 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        .music-lyrics-input{
            display: flex;
            flex-direction: column;
            .music-lyrics-label{
                text-align: center;
                font-size: 22.5px;
                font-weight: bold;
            }
            .input-lyrics{ 
                margin-top: 20px;
                font-size: 18px;
                padding: 10px 50px;
                resize: none;
                text-align: center;
                border: 1px solid rgb(214, 216, 218);
                border-radius: 20px;
                color: #fff;
                outline: none;
                background-color: transparent;
                width: 616px;
                height: 200px;
            }
            .input-lyrics::-webkit-scrollbar {
                display: none; 
            }
            
        }

    }
    .modi-create-btn-box{
        margin-top: 40px;
        margin-bottom: 100px;
        
        .modi-create-btn{
            font-size: 20px;
            width: 170px;
            padding: 10px 0;
            letter-spacing: 0.3em;
        }
    }



}

// #title-input:focus-within {
  
    // transform:scaleX(5);
    // transition: transform 3s;
    // border:0 solid black;
    // border-radius: 50px;
    // background: linear-gradient(to left, #1C1B4D, #B80E65, #1791B1);
    // border-bottom: solid 3px linear-gradient(to left, #1C1B4D, #B80E65, #1791B1);
    // box-shadow: 0 4px 4px 2px #ff0000;
    // box-shadow: 0 1px 1px #fff, 0 2.5px 2.5px #fff, 0 9px 9px #fff, 0 1px 1px #ff0000,
    // 0 2px 2px #ff0000, 0 13px 13px #ff0000, 0 38px 38px #ff0000, 0 45px 45px #ff0000;
    
    // transform:scaleX(1);
    // transition: transform 3s;
    // transition: .5s;
// }

// #genre-input:focus-within {
//     box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #fffc32,
//     0 0 2px #fffc32, 0 0 13px #fffc32, 0 0 38px #fffc32, 0 0 45px #fffc32;
//     transition: .5s;
// }

// .music-release:focus-within {
//     box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #0fa,
//     0 0 2px #0fa, 0 0 13px #0fa, 0 0 38px #0fa, 0 0 45px #0fa;
//     transition: .5s;
// }

.input-lyrics:focus-within {

    box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #4566F6,
    0 0 2px #4566F6, 0 0 13px #4566F6, 0 0 38px #4566F6, 0 0 45px #4566F6;
    transition: .5s;
}
// .music-input:focus {
//     box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #4566F6,
//     0 0 2px #4566F6, 0 0 13px #4566F6, 0 0 38px #4566F6, 0 0 45px #4566F6;
//     transition: .5s;
// }

// .music-release:focus {
//     box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #4566F6,
//     0 0 2px #4566F6, 0 0 13px #4566F6, 0 0 38px #4566F6, 0 0 45px #4566F6;
//     transition: .5s;
// }

// .genre-option{
//     color: black;
//     // background: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
// }

// input[type="date"]::-webkit-inner-spin-button,
// input[type="date"]::-webkit-calendar-picker-indicator {
//     display: none;
//     -webkit-appearance: none;
// }

.music-input-btn:hover,
.album-input-btn:hover{
    text-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px rgb(254, 3, 128),
    0 0 2px rgb(254, 3, 128), 0 0 13px rgb(254, 3, 128), 0 0 38px rgb(254, 3, 128), 0 0 50px rgb(254, 3, 128);
}