#input-hashtag-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
    min-height: 180px;
    width: 700px;
    padding: 0 8px;
    border: 1px solid rgb(214, 216, 218);
    border-radius: 20px;
    .hashtag-input{
        text-align: center;
        width: 320px;
        height: 40px;
        margin: 10px;
        font-size: 20px;
        border:0;
        border-bottom: 3px solid transparent;
        border-image: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
        border-image-slice: 1;
        outline: none;
        background: transparent;
        color: #fff;
        padding: 0 25px;
    }
    .hashtag-ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        align-content: center;
        .tag {
            // color:black;
            background: linear-gradient(to right, #38A9E5, #8F5EF1, #FC00FF);
            min-width: 76px;
            // text-align: center;
            // width: auto;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            // margin: 0 auto;
            padding: 0 15px;
            // font-size: 18px;
            list-style: none;
            border-radius: 20px;
            margin: 8px 8px;
            cursor: pointer;
            .tag-title{
              // margin: 0 auto;
            font-weight: bold;
            font-size: 18px;
              // color: linear-gradient(to right, #38A9E5, #8F5EF1, #FC00FF);
            }
            .tag-close-icon {
                width: 15px;
                background-color: transparent;
                font-size: 14px;
                margin-left: 8px;
                color:black;
                border-radius: 50%;
                background: #fff;
                cursor: pointer;
            }
        }
    }

    .tag:hover{
        transform: scale(1.1);
        transition: .2s;
    } 

    &:focus-within {
        box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #4566F6,
        0 0 2px #4566F6, 0 0 13px #4566F6, 0 0 38px #4566F6, 0 0 45px #4566F6;
        transition: .5s;
    }
}