.notification-container {
  font-size: 1rem;
  position: fixed;
  z-index: 999999;
  top: 80px;
  right: 12px;
  // left: 30%;
  height: 30px;
  // width: 100%;
  // margin: 10px;
  // margin: 0 auto;
}

.notification {
  transition: transform .6s ease-in-out;
  animation: toast-in-right .6s;
  // background: #a70571;
  border-radius: 35px;
  background: linear-gradient(to left, #170B24, #1B0D35, #1F104D);
  border: 2.5px solid rgb(255, 117, 248);
  transition: .3s ease;
  // border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.6);
  color: #000;
  opacity: .9;
  font-weight: 600;

  // height: 30px;
  width: 360px;
  color: #fff;
  padding: 15px;
  margin: 10px;
  // margin: 0 auto;
}

.fade-out {
  opacity: 0;
  transform: opacity 2s;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
    // transform: translateY(-100%);
  }
  to {
    transform: translateX(0);
    // transform: translateY(0);
  }
}