.replys-container {
  background-color: violet;
  display: flex;
  flex-direction: column;
  align-items: center;

  .replys-box {
    width: 80%;
    padding: 0;

    .replys-li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      border: blue solid 1px;
      
      .replys-info {
        display: flex;
        // align-items: baseline;
        margin-top: 5px;
        border-bottom: lightgreen double 1px ;
        
        .replys-profile {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        // .replys-nickname {

        // }
        
        .replys-btn-box {
          margin-left: auto;
          
          .replys-modify, .replys-delete {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
      
      .replys-comment-box {
        display: flex;

        .replys-comment {
          margin: 0;
        }
      }
    }
  }
}
