@import '../../Common.scss';

.replys-container {
  @include flexBox(flex, _, center, _, _);
  flex-direction: column;
  // background-color: violet;

  .replys-box {
    @include widthHeight(80%, 400px);
    // padding: 0;
    // outline: solid white 2px;
    overflow: auto;
    border: 0.5rem outset rgb(222, 222, 222);
    border-radius: 12px;
    margin: 2rem;
    padding: 1rem;

    .replys-li {
      @include flexBox(flex, center, _, _, _);
      flex-direction: column;
      flex-wrap: wrap;
      // border: blue solid 1px;
      border-radius: 10px;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
      background-color: ivory;
      opacity: .8;
      
      .replys-info {
        display: flex;
        // align-items: baseline;
        margin: 5px;
        border-bottom: black double 1px ;
        
        .replys-profile {
          @include widthHeight(50px, 50px);
          border-radius: 50%;
        }

        .replys-nickname {
          margin-left: 10px;
        }
        
        .replys-btn-box {
          margin-left: auto;
          
          .replys-modify, .replys-delete {
            @include widthHeight(20px, 20px);
            cursor: pointer;
          }
        }
      }
      
      .replys-comment-box {
        display: flex;

        .replys-comment {
          margin: 5px;
          white-space: pre-wrap;
          text-align: left;
        }
      }
    }
  }
}
