.slide-btn {
  width: 160px;
  padding: 10px 0;


  .popular,
  .recent {
    // background-color: aqua;
    font-size: 30px;
    cursor: pointer;

    // color: #fff;
    // &:after {
    //   display: inline-block;
    //   content: '';
    //   border-bottom: solid 3px;
    //   border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
    //   border-image-slice: 1;
    //   transform: scaleX(0);
    //   transition: transform 250ms ease-in-out;
    // }

    // &:hover::after {
    //   transform: scaleX(1);
    // }
  }
}

.popular::after {
  content: '/';
  margin: 0 10px;
  // position: absolute;
  // top: 0;
}

.slide-container {
  position: relative;
}