.slide-container {
  /* width: 1900px; */
  /* width: 1300px; */
  /* background-color: red; */
  /* display: flex; */
  /* flex-direction:column; */
  /* overflow: visible; */


  position: relative;
  width: 890px;
  /* 890 내로 li가 안들어가는 건 overflow hidden 으로 안보이게 해놓음*/
  margin: 0 auto;
  height: 200px;
  overflow: hidden;
  background-color: red;
}


/* -> ul */
.slides {
  /* display: flex; */
  padding: 0;
  margin: 0;
  background-color: blue;
  list-style: none;

  position: absolute;
  left: 0;
  top: 0;
  /* (현재 모든 li 의 각 width + li 의 margin-left)* 현재 li 개수 - 마지막 li 의 margin-left   */
  /* width: 4140px; */
}


/* image-box의  레프트값을 바꾸는 과정을 0.5 에 걸쳐서 끝이 살짤 느린 모드로 함*/
.slides.animated {
  transition: 0.5s ease-out;
}

/* ->  li */
.slide {
  /* border: 5px solid green; */
  background-color: green;

  width: 200px;
  height: 200px;
  float: left;
}

/* 막내 li제외하고 모든 li  */
.slide:not(:last-child) {
  margin-right: 30px;
}

.btn-box {
  // width: 100%;
  // position: absolute;
  position: relative;
  // top: 40%;
  display: flex;
  justify-content: space-between;
  background-color: red;

  .prev,
  .next {
    cursor: pointer;
    margin: 0 10px;
    border: 0;
    opacity: .7;
    width: 35px;
    height: 35px;
  }
}


// .slide.img2 {
//   // background-image: url('./img2.jpeg');
//   background-size: cover;
//   background-position: center;
// }

// .slide.img3 {
//   // background-image: url('./img3.jpeg');
//   background-size: cover;
//   background-position: center;
// }

// .slide.img4 {
//   // background-image: url('./img4.jpeg');
//   background-size: cover;
//   background-position: center;
// }

// .slide.img5 {
//   // background-image: url('./img5.jpeg');
//   background-size: cover;
//   background-position: center;
// }


.btn-box button {
  cursor: pointer;
}