@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  margin: 0;
}

@mixin flexBox($display, $justify, $align, $margin, $padding) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  margin: $margin;
  padding: $padding;
}

%h1 {
  font-family: 'Staatliches', cursive;
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  height: 200px;

  a {
    text-decoration: none;
    color: black
  }

  h1 {
    @extend %h1;
  }
}


.navigation {
  @include flexBox(flex, space-between, center, _, 0 70px);
  height: 100px;

  h1 {
    @extend %h1
  }
}


.button-list {
  @include flexBox(flex, space-between, _, _, _);
  width: 230px;

  .player-image {
    width: 30px;
    height: 30px;
  }

  button {
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: 18px;
    cursor: pointer;
  }
}