@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import '../../Common.scss';


%navigationButton {
  @include widthHeight(_, 50px);
  @include fontStyle(#fff, _, 18px, _);
  background-color: transparent;
  padding: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
}

.logo {
  @include flexBox(_, _, _, 0, 0);
  font-size: 4em;
}

.navigation {
  @include flexBox(flex, space-between, center, _, 0 70px);
  @include widthHeight(_, 150px);

  a {
    text-decoration: none;
    color: #fff;
  }
}

.button-list {
  @include flexBox(flex, space-around, _, _, _);
  @include widthHeight(270px, _);
  position: relative;

  button[class^="navigation__"] {
    @extend %navigationButton;
  }

  .player-image {
    @include widthHeight(30px, 30px);
  }
}

.button-list-of-profile-image {
  @include flexBox(flex, space-around, _, _, _);
  @include widthHeight(270px, _);
  position: relative;

  .navigation__profile-image {
    @include widthHeight(50px, 50px);
    @include background(cover, center, no-repeat);
    @include borderStyle(0, 50%);
    cursor: pointer;
  }

  .show-user-profile-list {
    @include positionBox(absolute, 80%, 56.2%, -10%, _);

    list-style: none;
    padding: 0;
    color: #fff;

    li {
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
    }
  }

  button[class^="navigation__"] {
    @extend %navigationButton
  }

  ;

  .player-image {
    @include widthHeight(30px, 30px);
  }
}

.hide {
  display: none;
}


@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 18px #fff, 0 0 2px rgb(254, 3, 128),
      0 0 30px rgb(254, 3, 128), 0 0 43px rgb(254, 3, 128), 0 0 58px rgb(254, 3, 128), 0 0 83px rgb(254, 3, 128);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}