#sidebar {
  width: 800px;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 1;
  position: fixed;
}

.sidebar-opened {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.sidebar-closed {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.sidebar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar-info .square {
  width: 250px;
  height: 250px;
  border-radius: 6%;
  overflow: hidden;
  margin: 0;
}

.sidebar-info .square .inner-square {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar-info .info {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-info .info .inner-title {
  font-size: 40px;
}

.sidebar-info .info .inner-nickname {
  font-size: 20px;
}

.sidebar-info .shuffle {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sidebar-info .shuffle #random-button {
  background-color: transparent;
  padding: 0;
  border: 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.sidebar-info .shuffle #random-button #random-button-img {
  width: 32px;
}

.sidebar-play-list-box {
  height: 64vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  background-color: red;
}

.sidebar-play-list-box .sidebar-play-ul {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.sidebar-play-list-box .sidebar-play-ul .track {
  background-color: green;
  border-radius: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.sidebar-play-list-box .sidebar-play-ul .track :hover {
  background-color: #e2e2e2;
}

.sidebar-play-list-box .sidebar-play-ul .track .track-delete {
  border-radius: 20%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sidebar-play-list-box .sidebar-play-ul .track .track-delete .track-delete-button {
  background-color: white;
  padding: 0;
  border: 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.sidebar-play-list-box .sidebar-play-ul .track .track-img {
  border-radius: 6%;
  width: 150px;
}

.sidebar-play-list-box .sidebar-play-ul .track .track-info {
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sidebar-play-list-box .sidebar-play-ul .track .track-info .track-title {
  font-size: 22px;
}

.sidebar-play-list-box::-webkit-scrollbar {
  display: none;
}
