.sign-up {
  // position: relative;
  display: flex;
  text-align: center;
  // align-items: center;
  flex-direction: column;
}

h1 {
  display: block;
  text-align: center;
  cursor: pointer;
}

h2 {
  display: block;
}