@import '../../Common.scss';

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.sign-up-logo {
  max-width:300px;
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 60px;
}

.sign-up-title {
  display: block;
  color: white;
}

.sign-up {
  // position: relative;
  display: flex;
  text-align: center;
  // align-items: center;
  flex-direction: column;

  .sign-up-container {
    
    .sign-up-input {
      @include flexBox(flex, space-around, center, _, _);
      flex-direction: column;
      height: 500px;
      // background-color: greenyellow;
      // margin: 10px 0 10px 0;

      .sign-up-id-box {
        @include flexBox(flex, center, center, _, _);
        flex: 1 0 auto;
        flex-direction: column;
        height: 30px;
        // margin-top: 15px;
        // margin-bottom: 10px;
        // background-color: red;
        // border: solid 1px;
        margin-left: 160px;

        .sign-up-id-area {
          @include flexBox(flex, space-around, _, _, _);
          // flex: 1 0 auto;
          // background-color: blue;
          // position: relative;
          width: 700px;

          .sign-up-input-id {
            background: transparent;
            // border-bottom: solid #fff 1px;
            // border-top: none;
            // border-left: none;
            // border-right: none;
            color: #fff;
            border: 0;
            border-bottom: 3px solid transparent;
            border-image: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
            border-image-slice: 1;
          }

          // .sign-up-input-id:focus-within {
          //   box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #4566F6,
          //   0 0 2px #4566F6, 0 0 13px #4566F6, 0 0 38px #4566F6, 0 0 45px #4566F6;
          //   transition: .5s;
          // }

          .sign-up-id-btn {
            letter-spacing: 0.3em;
            @include marginPadding(0.625rem, 10px 20px 10px);
          }
        }

        .sign-up-id-msg {
          margin: 0;
          height: 24px;
          color: red;
          padding-right: 120px;
        }

        #id-ok-msg {
          color: lightgreen;
        }
      }

      .sign-up-pw-box {
        @include flexBox(flex, space-around, _, _, _);
        flex: 2 0 auto;
        flex-direction: column;

        .sign-up-pw-flex {
          width: 700px;

          .sign-up-input-pw {
            background-color: transparent;
            // border-bottom: solid #fff 1px;
            // border-top: none;
            // border-left: none;
            // border-right: none;
            color: #fff;
            border: 0;
            border-bottom: 3px solid transparent;
            border-image: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
            border-image-slice: 1;
          }

          // .sign-up-input-pw:focus-within {
          //   box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #4566F6,
          //   0 0 2px #4566F6, 0 0 13px #4566F6, 0 0 38px #4566F6, 0 0 45px #4566F6;
          //   transition: .5s;
          // }
        }

        // height: 60px;
        .sign-up-pw-msg {
          margin: 0;
          height: 24px;
          color: red;
          // background-color: cadetblue;
        }
      }

      .sign-up-nick-box {
        @include flexBox(flex, center, center, _, _);
        flex: 1 0 auto;
        flex-direction: column;
        height: 30px;
        // margin-top: 10px;
        // margin-bottom: 15px;
        // background-color: red;
        margin-left: 160px;

        .sign-up-nick-flex {
          @include flexBox(flex, space-around, _, _, _);
          // background-color: blue;
          width: 700px;

          .sign-up-input-nick {
            background-color: transparent;
            // border-bottom: solid #fff 1px;
            // border-top: none;
            // border-left: none;
            // border-right: none;
            color: #fff;
            border: 0;
            border-bottom: 3px solid transparent;
            border-image: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
            border-image-slice: 1;
          }

          // .sign-up-input-nick:focus-within {
          //   box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #4566F6,
          //   0 0 2px #4566F6, 0 0 13px #4566F6, 0 0 38px #4566F6, 0 0 45px #4566F6;
          //   transition: .5s;
          // }

          .sign-up-nick-btn {
            letter-spacing: 0.3em;
            @include marginPadding(0.625rem, 10px 20px 10px);
          }
        }

        .sign-up-nick-msg {
          margin: 0;
          height: 24px;
          color: red;
          // background-color: cadetblue;
          padding-right: 120px;
        }

        #nick-ok-msg {
          color: lightgreen;
        }
      }
    }

    .profile-container {
      @include flexBox(flex, center, center, _, _);
      // flex-direction: column;
      // text-align: center;
      // background-color: hotpink;

      .profile-wrap {
        @include flexBox(flex, _, center, _, _);
        flex-direction: column;
        margin-top: 15px;

        .profile-box {
          @include widthHeight(70px, 70px);
          // background-image: url();
          // background-repeat: no-repeat;
          // background-size: cover;
          border-radius: 40px;
          border: 1px solid white;
          // background-color: ivory;
          overflow: hidden;
          // display: flex;
          // align-items: center;
          // justify-content: center;

          .profile-image {
            @include widthHeight(100%, 100%);
            object-fit: cover;
          }
        }

        p {
          color: white;
        }
      }

      .profile-btn-box {
        @include flexBox(flex, space-evenly, _, _, _);
        height: 100px;
        padding-bottom: 45px;
        flex-direction: column;

        label {
          color: white;
        }

        .profile-input-btn {
          cursor: pointer;
        }

        .profile-delete-btn {
          cursor: pointer;
        }
      }
    }

    .sign-up-radio-box {
      display: flex;
      flex-direction: column;
      // background-color: slateblue;

      div {
        @include flexBox(flex, center, center, _, _);
        
        input[type='radio'] {
          zoom: 2;
          outline: none;
        }
        
        label {
          color: white;
        }
      }
    }

    .sign-up-condition {
      // background-color: skyblue;
      height: 250px;
      flex-direction: column;
      @include flexBox(flex, space-around, _, 10px 0 10px 0, _);
      @include widthHeight(auto, _);

      input {
        background-color: transparent;
        // border-bottom: solid #fff 1px;
        // border-top: none;
        // border-left: none;
        // border-right: none;
        color: #fff;
        border: 0;
        border-bottom: 3px solid transparent;
        border-image: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
        border-image-slice: 1;
      }

      // input:focus-within {
      //   box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #0fa,
      //   0 0 2px #0fa, 0 0 13px #0fa, 0 0 38px #0fa, 0 0 45px #0fa;
      //   transition: .5s;
      // }

      input[type=date]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: invert(1);
      }
    }

    .sign-up-submit-btn {
      letter-spacing: 0.5em;
      @include marginPadding(0.625rem, 18px 70px 20px);
    }
  }
}

[class^='sign-up-input-'] {
  @include widthHeight(500px, 40px);
  outline: none;
  padding-left: 10px;
}