.profile-container {
  display: flex;
  // flex-direction: column;
  text-align: center;
  align-items: center;
}

.profile-box {
  // background-image: url();
  // background-repeat: no-repeat;
  // background-size: cover;
  margin-left: 46%;
  width: 70px;
  height: 70px;
  border-radius: 40px;
  border: 1px solid;
  background-color: ivory;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width:100%;
  height:100%;
  object-fit: cover;
}