@mixin flexBox($display, $justify, $align, $margin, $padding) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  margin: $margin;
  padding: $padding;
}

@mixin positionBox($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}


@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}


@mixin background($size, $position, $repeat) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

%h1 {
  font-family: 'Staatliches', cursive;
  @include flexBox(_, _, _, 0, 0);
  font-size: 3em;
}

%a11yHidden {
  position: absolute;
  @include widthHeight(1px, 1px);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.contents__btn{
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.3em;
  color: rgba(223,190,106,0.7);
  border-radius: 20px;
  padding: 18px 80px 20px;
  transition: all 0.7s ease-out;
  background:linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.contents__btn:hover{
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  background-position: 99% 50%;
}