@import '../../Common.scss';

%genre-bg {
  background-repeat: no-repeat;
  // border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
  content: "";
  @include widthHeight(100%, 100%);
}

.genre-container {
  @include flexBox(flex, center, _, _, _);
  // width: 80%;

  .genre-box {
    @include flexBox(flex, space-evenly, _, 2rem, 1rem);
    width: 100%;
    overflow: hidden;
    border-radius: 6px;

    .genre-bg {
      cursor: pointer;
      // background-color: white;
      margin: 30px;
      // flex: 1 1 auto;
      @include widthHeight(180px, 180px);
      border-radius: 50%;
      @include flexBox(flex, center, center, _, _);
      overflow: hidden;
      position: relative;
      border: #ccc solid 1px;

      .genre-name {
        font-size: 2em;
        font-family: serif;
        color: #fff;
        // text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
        // 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
        text-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 21px #fff,
        // 0 0 42px #e01059, 0 0 82px #e01059, 0 0 92px #e01059, 0 0 102px #e01059, 0 0 151px #e01059;
      }
    }

    .genre-bg[value=Jazz]::after {
      background-image: url('../../assets/jazz.jpg');
      @extend %genre-bg
    }

    .genre-bg[value=HipHop]::after {
      background-image: url('../../assets/hiphop.jpg');
      @extend %genre-bg
    }

    .genre-bg[value=Rock]::after {
      background-image: url('../../assets/rock.jpg');
      @extend %genre-bg
    }

    .genre-bg[value=Ballad]::after {
      background-image: url('../../assets/ballad.jpg');
      @extend %genre-bg
    }

    .genre-bg[value='R&B']::after {
      background-image: url('../../assets/r&b.jpg');
      @extend %genre-bg
    }
  }

  .genre-box:hover {
    box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #7c08c0,
    0 0 2px #7c08c0, 0 0 13px #7c08c0, 0 0 38px #7c08c0, 0 0 45px #7c08c0;
    transition: .5s;
  }
  
  // .genre-bg:hover {
  //   // background-color: white;
  //   font-weight: bold;
  //   transform: scale(1.1);
  //   transition: .3s;
  // }

  [id^='genre-bg-']:hover {
    font-weight: bold;
    transform: scale(1.1);
    transition: .3s;
  }

  #genre-bg-0:hover {
    outline: white solid 0.2em;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #b46101, 0 0 0.8rem #b46101, 0 0 2.8rem #b46101, inset 0 0 1.3rem #b46101;

    #genre-name-0 {
      text-shadow: 0 0 3px #b46101, 0 0 10px #b46101, 0 0 21px #b46101,
    }
  }

  #genre-bg-1:hover {
    // border-radius: 50%;
    outline: white solid 0.2em;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #a80303, 0 0 0.8rem #a80303, 0 0 2.8rem #a80303, inset 0 0 1.3rem #a80303;

    #genre-name-1 {
      text-shadow: 0 0 3px #a80303, 0 0 10px #a80303, 0 0 21px #a80303,
    }
  }

  #genre-bg-2:hover {
    outline: white solid 0.2em;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #1713fe, 0 0 0.8rem #1713fe, 0 0 2.8rem #1713fe, inset 0 0 1.3rem #1713fe;

    #genre-name-2 {
      text-shadow: 0 0 3px #1713fe, 0 0 10px #1713fe, 0 0 21px #1713fe,
    }
  }

  #genre-bg-3:hover {
    outline: white solid 0.2em;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #858f02, 0 0 0.8rem #858f02, 0 0 2.8rem #858f02, inset 0 0 1.3rem #858f02;

    #genre-name-3 {
      text-shadow: 0 0 3px #858f02, 0 0 10px #858f02, 0 0 21px #858f02,
    }
  }

  #genre-bg-4:hover {
    outline: white solid 0.2em;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #00B9BF, 0 0 0.8rem #00B9BF, 0 0 2.8rem #00B9BF, inset 0 0 1.3rem #00B9BF;

    #genre-name-4 {
      text-shadow: 0 0 3px #00B9BF, 0 0 10px #00B9BF, 0 0 21px #00B9BF,
    }
  }

  .selected-genre-0 {
    outline: white solid 0.2em;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #b46101, 0 0 0.8rem #b46101, 0 0 2.8rem #b46101, inset 0 0 1.3rem #b46101;

    #genre-name-0 {
      text-shadow: 0 0 3px #b46101, 0 0 10px #b46101, 0 0 21px #b46101,
    }
  }

  .selected-genre-1 {
    outline: white solid 0.2em;
    box-shadow: 0 0 .2rem rgb(59, 59, 59), 0 0 .2rem #fff, 0 0 2rem #a80303, 0 0 0.8rem #a80303, 0 0 2.8rem #a80303, inset 0 0 1.3rem #a80303;
    
    #genre-name-1 {
      text-shadow: 0 0 3px #a80303, 0 0 10px #a80303, 0 0 21px #a80303,
    }
  }

  .selected-genre-2 {
    outline: white solid 0.2em;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #1713fe, 0 0 0.8rem #1713fe, 0 0 2.8rem #1713fe, inset 0 0 1.3rem #1713fe;

    #genre-name-2 {
      text-shadow: 0 0 3px #1713fe, 0 0 10px #1713fe, 0 0 21px #1713fe,
    }
  }

  .selected-genre-3 {
    outline: white solid 0.2em;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #858f02, 0 0 0.8rem #858f02, 0 0 2.8rem #858f02, inset 0 0 1.3rem #858f02;

    #genre-name-3 {
      text-shadow: 0 0 3px #858f02, 0 0 10px #858f02, 0 0 21px #858f02,
    }
  }

  .selected-genre-4 {
    outline: white solid 0.2em;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #00B9BF, 0 0 0.8rem #00B9BF, 0 0 2.8rem #00B9BF, inset 0 0 1.3rem #00B9BF;

    #genre-name-4 {
      text-shadow: 0 0 3px #00B9BF, 0 0 10px #00B9BF, 0 0 21px #00B9BF,
    }
  }

  .selected-genre-name {
    font-weight: bold;
    // text-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #e01059,
    // 0 0 82px #e01059, 0 0 92px #e01059, 0 0 102px #e01059, 0 0 151px #e01059;
  }
}