#hashtag-section {
  // margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  height : auto;
  width: 100%;

  // margin: 0 auto;
  // padding: 0 8px;
  // border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
  .hashtag-ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-content: center;
    justify-content: center;
    height : auto;
    width: 100%;
    padding: 0 8px;
        .tag {
            // color:black;
            // text-align: center;
            background: linear-gradient(to right, #38A9E5, #8F5EF1, #FC00FF);
            min-width: 65px;
            // text-align: center;
            // width: auto;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            // margin: 0 auto;
            padding: 0 15px;
            // font-size: 18px;
            list-style: none;
            border-radius: 20px;
            margin: 8px 8px;
            cursor: pointer;
            .tag-title{
              // margin: 0 auto;
              font-weight: bold;
              font-size: 17.5px;
              // color: linear-gradient(to right, #38A9E5, #8F5EF1, #FC00FF);
            }
    }
    .tag:hover{
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 18px #fff, 0 0 2px rgb(254, 3, 128),
      0 0 30px rgb(254, 3, 128), 0 0 43px rgb(254, 3, 128), 0 0 58px rgb(254, 3, 128), 0 0 83px rgb(254, 3, 128);

        transform: scale(1.1);
        transition: .2s;
    } 
  }
}

.clicked-tag {
  box-shadow: 0 0 2.5px #fff, 0 0 7.5px #fff, 0 0 10px #fff, 0 0 3px #bc13fe,
  0 0 6.4px #bc13fe, 0 0 10px #bc13fe, 0 0 16.2px #bc13fe, 0 0 20px #bc13fe;
}
