.footer {
  text-align: left;
  // padding: 1.5em;
  margin-top: 30px;
  // padding: 5px 0 0;
  padding: 5px 0 20px 1.5em;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424);
  background-color: #131313;
  background-size: 20px 20px;
  color: #fff;
  line-height: 1.5;
  display: flex;
  flex-flow: column;

  // position: fixed;
  // bottom: 0;
  width: 98.766%;
}

.footer__developer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: blue;
  width: 400px;


  a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;

    .githubIcon {
      width: 20px;
      // background-color: skyblue;
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
    }

    .developer {
      display: inline-block;
      // background-color: red;
      height: 20px;
      vertical-align: middle;
    }
  }
}

.copyright {
  text-transform: uppercase;
}