@import '../../Common.scss';

.footer {
  display: flex;
  flex-flow: column;
  color: #fff;
  line-height: 1.5;
  text-align: left;
  @include marginPadding(30px 0 0 0, 5px 0 20px 1.5em);


  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0,
    linear-gradient(27deg, #222 5px, transparent 5px) 0 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424);
  background-color: #131313;
  background-size: 20px 20px;
}

.footer__developer-box {
  @include flexBox(flex, space-between, center, _, _);
  width: 400px;

  a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;

    .githubIcon {
      display: inline-block;
      width: 20px;
      margin-right: 5px;
      vertical-align: middle;
    }

    .developer {
      display: inline-block;
      height: 20px;
      vertical-align: middle;
    }
  }
}

.copyright {
  text-transform: uppercase;
}