@import '../../Components/Nav/index.scss';
@import '../../Components/Login/index.scss';


.modal-backdrop__content-delete {
  position: fixed;
  @include PositionBox(0, 0, 0, 0);

  background: #000;
  opacity: .8;
  filter: alpha(opacity=80);
  z-index: 10;
}

.modal-container__content-delete {
  position: absolute;
  @include PositionBox(50%, _, 50%, _);
  margin: -150px 0 0 -200px;
  z-index: 20;
  background-color: #fff;
  @include flexBox(flex, center, center, _, _);
  @include widthHeight(400px, 200px);

  fieldset {
    @include flexBox(flex, space-between, center, _, _);
    flex-direction: column;
    @include widthHeight(300px, 100px);
  }

  .a11yHidden {
    @extend %a11yHidden
  }

  .content-delete-modal-title {
    margin: 0;
    font-size: 18px
  }

  .modal__content-delete-btn {
    @include flexBox(flex, space-around, center, _, _);
    @include widthHeight(150px, _);
    // background-color: red;

    button {
      background-color: transparent;
      border: 0;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .content-delete-modal-close-btn {
    position: absolute;
    @include PositionBox(3%, _, _, 5%);
    font-size: 20px;
    cursor: pointer;
  }
}