@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import '../../Common.scss';


/* 필드셋 */
.rate {
  display: inline-block;
  border: 0;
  /* background-color: red; */
}

/* 필드셋 > input  */
.rate>input {
  // color: #ccc;
  display: none;
}

.rate>.grade-label {
  float: right;
  color: #ccc;
  // bor
  /* background-color: blue; */
}

.rate>.grade-label:before {
  display: inline-block;
  font-size: 2rem;
  padding: .3rem .2rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 ";
  /* background-color: green; */
}

.rate .half:before {
  content: "\f089 ";
  position: absolute;
  padding-right: 0;
}

input:checked~.grade-label,
.grade-label:hover,
.grade-label:hover~.grade-label {
  color: #fbff00;
  text-shadow: 0 0 1px #fbff00, 0 0 2px #fbff00, 0 0 3px #fbff00
}

.star-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 65%;
  // .rate {
  //   display: flex;
  // }

  .grade-btn {
    @include fontStyle(#fff, normal, 15px, .3em);
    background: linear-gradient(to right, #8c9637, #ecdd09, #1791B1);
    @include background(300% 300%, 1% 50%, _);
    @include borderStyle(1px solid rgba(255, 255, 255, 0.3), 20px);
    transition: all 0.7s ease-out;
    letter-spacing: 0.3em;
    padding: 5px 20px 5px 25px;
    cursor: pointer;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-position: 99% 50%;
    }
  }
}