@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  // margin: 5%;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: .5rem;
}

/* 필드셋 */
.rate {
  display: inline-block;
  border: 0;
  /* background-color: red; */
}

/* 필드셋 > input  */
.rate>input {
  // color: #ccc;
  display: none;
}

.rate>.grade-label {
  float: right;
  color: #ccc;
  // bor
  /* background-color: blue; */
}

.rate>.grade-label:before {
  display: inline-block;
  font-size: 2rem;
  padding: .3rem .2rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 ";
  /* background-color: green; */
}

.rate .half:before {
  content: "\f089 ";
  position: absolute;
  padding-right: 0;
}

input:checked~.grade-label,
.grade-label:hover,
.grade-label:hover~.grade-label {
  // color: #73B100;
  color: #fbff00;
  text-shadow: 0 0 1px #fbff00, 0 0 2px #fbff00, 0 0 3px #fbff00
}

.star-rating {
  display: flex;
  margin-top: 10px;

  .rate {
    // display: flex;
  }

  .grade-btn {
    display: inline-block;
    // background: transparent;
    // text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.3em;
    color: rgba(223,190,106,0.7);
    border-radius: 20px;
    padding: 5px 20px 5px;
    transition: all 0.7s ease-out;
    background:linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    // margin: 0.625rem;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;

    &:hover {
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #fff;
      background-position: 99% 50%;
    }
  }
}