@import '../../Common.scss';

%track-details-btn {
  display: inline-block;
  // background: transparent;
  // text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.3em;
  padding: 5px 20px 5px;
  color: rgba(223,190,106,0.7);
  border-radius: 20px;
  transition: all 0.7s ease-out;
  background:linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  // margin: 0.625rem;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;

  &:hover {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    background-position: 99% 50%;
  }
}

.track-details {

  .trackinfo-container {
    @include flexBox(flex, space-evenly, center, _, _);
    // background-color: wheat;
    margin-top: 100px;
    // width: 80%;
  
    .trackinfo-image-box {
      @include widthHeight(30em, 30em);
      // margin: 0 auto;
      // padding-bottom: 50%;
      // position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 0.5rem outset rgb(222, 222, 222);
      border-radius: 12px;
      margin: 2rem;
      padding: 1rem;
      // box-shadow: 0 0 0 2rem skyblue;
      // outline: 0.5rem solid khaki;
      // outline-offset: 0.5rem;
      
      // .trackinfo-image {
      //   // height: 500px;
      //   // size: 100%;
      //   // object-fit: cover;
      //   // padding-bottom: 100%;
      //   position: absolute;
      //   top: 0; left: 0; right: 0; bottom: 0;
      //   @include widthHeight(100%, 100%);
      // }
    }
    
    .trackinfo-desc {
      @include flexBox(flex, _, center, _, _);
      flex-direction: column;
      width: 40%;
      // flex-wrap: wrap;
      // outline: chartreuse solid 1px;
      border: 0.5rem outset rgb(222, 222, 222);
      border-radius: 12px;
      
      .trackinfo-title {
        color: white;
        width: 90%;
      }
  
      .trackinfo-grade-avg {
        color: white;
      }
  
      .trackinfo-box {
        // display: block;
        // justify-content: left;
        // background-color: yellowgreen;
        // margin-bottom: 1px;
        // outline: blue solid 1px;
        // border: 0.5rem outset rgb(222, 222, 222);
        // border-radius: 12px;
        margin: 1rem;
        padding: 1rem;
        width: 90%;
        
        .trackinfo-info {
          // width: 300px;
          height: 70px;
          display: flex;
          // justify-content: left;
          outline: white solid 1px;
          
          .trackinfo-key {
            @include flexBox(flex, center, center, _, _);
            // background-color: red;
            width: 50px;
            flex-basis: 30%;
            border-right: solid 1px white;
            color: white
          }
          
          .trackinfo-value {
            @include flexBox(flex, center, center, _, _);
            flex-basis: 70%;
            color: white;
          }
        }
      }
      
      .trackinfo-btn-box {
        // flex: 1 1 auto;
        @include flexBox(flex, _, center, _, _);
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 10px;
        
        .trackinfo-playlist-btn {
          letter-spacing: 0.1em;
          padding: 5px 20px 5px;
          height: 42px;
        }

        .trackinfo-listen-btn {
          letter-spacing: 0.1em;
          padding: 5px 20px 5px;
          height: 42px;
          margin-left: 20px;
        }

        .like-btn-box {
          position: relative;
          margin-left: 20px;
          @include widthHeight(80px, 42px);
          
          .like-btn {
            // @include widthHeight(15px, 15px);
            width: 50px;
            cursor:pointer;
            padding:10px 12px 8px;
            background:#fff;
            border-radius:30px;
            display:inline-block;
            // margin:0 0 15px;
            color:#aaa;
            transition:.2s;

            &:hover {
              color:#666;
            }

            &::before {
              font-family:fontawesome;
              content:'\f004';
              font-style:normal;
            }
            
            .trackinfo-total-like {
              color: black;
              font-style: normal;
              margin-left: 5px;
            }
          }

          #like-btn-clicked {
            animation: size .4s;
            color:#e23b3b;
          }

          .like-btn-msg {
            position: absolute;
            bottom:30px;
            left:0;
            right:0;
            visibility: hidden;
            transition:.6s;
            z-index:-2;
            font-size:2px;
            color:transparent;
            font-weight:400;
          }

          #like-btn-msg-clicked {
            bottom:50px;
            font-size:14px;
            visibility:visible;
            animation: fade 1s;
          }

          @keyframes fade {
            0% {color:transparent;}
            50% {color:#e23b3b;}
            100% {color:transparent;}
          }

          @keyframes size {
            0% {padding:10px 12px 8px;}
            50% {padding:14px 16px 12px;  
              margin-top:-4px;}
            100% {padding:10px 12px 8px;}
          }
        }
      }

      .trackinfo-auth-btn {
        width: 160px;
        @include flexBox(flex, space-around, _, _, _);
        flex-wrap: wrap;
        margin-left: auto;

        .trackinfo-modi-btn, .trackinfo-delete-btn {
          // @extend %track-details-btn;
          // margin-left: 20px;
          letter-spacing: 0.1em;
          padding: 5px 20px 5px;
          height: 42px;
        }
      }

      .trackinfo-hashtag-box {
        display: flex;
        width: 95%;
        // .tag {
        //   height: 30px;
        // }
      }
    }
  }

  .lyrics-container {
    @include flexBox(flex, center, _, _, _);
  }

  .replys-container {
    @include flexBox(flex, _, center, _, _);
    flex-direction: column;
    // background-color: violet;
  
    .replys-box {
      @include widthHeight(80%, 400px);
      // padding: 0;
      // outline: solid white 2px;
      overflow: auto;
      border: 0.5rem outset rgb(222, 222, 222);
      border-radius: 12px;
      margin: 2rem;
      padding: 1rem;
  
      .replys-li {
        @include flexBox(flex, center, _, _, _);
        flex-direction: column;
        flex-wrap: wrap;
        // border: blue solid 1px;
        border-radius: 10px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: ivory;
        opacity: .8;
        
        .replys-info {
          display: flex;
          // align-items: baseline;
          margin: 5px;
          border-bottom: black double 1px ;
          
          .replys-profile {
            @include widthHeight(50px, 50px);
            border-radius: 50%;
          }
  
          .replys-nickname {
            margin-left: 10px;
          }
          
          .replys-btn-box {
            margin-left: auto;
            
            .replys-modify, .replys-delete {
              @include widthHeight(20px, 20px);
              margin-left: 5px;
              cursor: pointer;

              &:hover {
                animation: shake 0.5s infinite;
              }
            }
          }
        }
        
        .replys-comment-box {
          display: flex;
  
          .replys-comment {
            margin: 5px;
            white-space: pre-wrap;
            text-align: left;
          }
        }
      }
    }
  
    .write-reply-container {
      @include flexBox(flex, center, center, _, _);
      width: 80%;
    
      .write-reply-area {
        @include widthHeight(80%, 20vh);
        resize: none;
      }
    
      .write-reply-btn-box {
        @include widthHeight(250px, 50px);
        @include flexBox(flex, space-evenly, _, _, _);
        
        .modify-reply-btn {
          letter-spacing: 0.3em;
          padding: 5px 20px 5px;
        }

        .cancel-reply-btn {
          letter-spacing: 0.3em;
          padding: 5px 20px 5px;
        }

        .create-reply-btn {
          letter-spacing: 0.3em;
          padding: 5px 40px 5px;
        }
      }
    }
  }
}