@import '../../Common.scss';

%track-details-btn {
  display: inline-block;

  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.3em;
  padding: 5px 20px 5px;
  color: rgba(223, 190, 106, 0.7);
  border-radius: 20px;
  transition: all 0.7s ease-out;
  background: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;

  &:hover {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    background-position: 99% 50%;
  }
}

.track-details {


  .trackinfo-container {

    display: flex;
    align-items: center;
    margin-top: 100px;
    width: 80%;
    margin: 0 auto;



    .trackinfo-image-box {
      @include widthHeight(30em, 30em);

      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 0.5rem outset rgb(222, 222, 222);
      border-radius: 12px;
      margin: 2rem;
      padding: 1rem;

      .trackinfo-listen-btn {
        position: absolute;
        border-radius: 30%;

        @include widthHeight(15.625em, 15.625em);
        top: 25%;
        left: 26%;
        cursor: pointer;

        &:hover {
          animation: shake 0.5s infinite;
        }
      }

    }

    .trackinfo-desc {
      display: flex;
      flex-direction: column;

      padding: 40px;
      justify-content: space-around;
      margin-left: 80px;

      @include widthHeight(60em, 28em);

      border-radius: 12px;

      &:hover {
        box-shadow: 0 0 1px #fff, 0 0 2.5px #fff, 0 0 9px #fff, 0 0 1px #4566F6,
          0 0 2px #4566F6, 0 0 13px #4566F6, 0 0 38px #4566F6, 0 0 45px #4566F6;
      }

      .trackinfo-title {
        color: white;
        display: inline-block;
        text-align: left;
        margin: 0;
        margin-bottom: 20px;
      }

      .trackinfo-grade-avg {
        color: white;
        font-size: 20px;
        display: inline-block;
        text-align: left;
      }

      .trackinfo-box {


        margin: 1rem 0 0 0;

        .trackinfo-info {
          height: 35px;
          display: flex;


          .trackinfo-key {
            @include flexBox(flex, _, _, _, _);
            width: 50px;
            flex-basis: 30%;
            color: white;
            font-size: 20px;
          }

          .trackinfo-value {
            @include flexBox(flex, _, _, _, _);
            width: 100%;
            overflow: hidden;
            color: white;
            font-size: 20px;
          }
        }
      }

      .trackinfo-btn-box {
        // background-color: blue;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;


        .trackinfo-btn-box-right {
          display: flex;
        }

        .trackinfo-playlist-btn {
          letter-spacing: 0.1em;
          padding: 5px 20px 5px;
          height: 42px;
        }



        .like-btn-box {
          position: relative;
          margin-left: 20px;
          @include widthHeight(80px, 42px);


          .like-btn {
            display: inline-block;
            width: 80px;
            padding: 12px 0;
            text-align: center;
            cursor: pointer;
            background: #fff;
            border-radius: 30px;
            color: #aaa;
            transition: .2s;
            text-align: center;



            &:hover {
              color: #666;
            }

            &::before {
              font-family: fontawesome;
              content: '\f004';
              font-style: normal;
              vertical-align: middle;
            }

            .trackinfo-total-like {
              color: black;
              font-style: normal;
              margin-left: 5px;


            }
          }

          #like-btn-clicked {
            animation: size .4s;
            color: #e23b3b;
          }

          .like-btn-msg {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            visibility: hidden;
            transition: .6s;
            z-index: -2;
            font-size: 2px;
            color: transparent;
            font-weight: 400;
          }

          #like-btn-msg-clicked {
            bottom: 50px;
            font-size: 14px;
            visibility: visible;
            animation: fade 1s;
          }

          @keyframes fade {
            0% {
              color: transparent;
            }

            50% {
              color: #e23b3b;
            }

            100% {
              color: transparent;
            }
          }

          @keyframes size {
            0% {
              padding: 10px 12px 8px;
            }

            50% {
              padding: 14px 16px 12px;
              margin-top: -4px;
            }

            100% {
              padding: 10px 12px 8px;
            }
          }
        }
      }

      .trackinfo-auth-btn {
        width: 160px;
        @include flexBox(flex, space-around, _, _, _);
        flex-wrap: wrap;
        margin-left: auto;

        .trackinfo-modi-btn,
        .trackinfo-delete-btn {

          letter-spacing: 0.1em;
          padding: 5px 20px 5px;
          height: 42px;
        }
      }

      .trackinfo-hashtag-box {
        height: 29%;
        margin-top: 30px;
        // background-color: red;
        margin-left: -5px;

        #hashtag-section {

          .ul-of-track-details {
            margin: 0;
            align-items: normal;
            justify-content: normal;
            padding: 0;
          }
        }

      }
    }
  }

  .lyrics-container {
    @include flexBox(flex, center, _, _, _);
  }

  .replys-container {
    @include flexBox(flex, _, center, _, _);
    flex-direction: column;
    // background-color: violet;

    .replys-box {
      @include widthHeight(80%, 400px);
      // padding: 0;
      // outline: solid white 2px;
      overflow: auto;
      // border: 0.5rem outset rgb(222, 222, 222);
      border: solid 1px #fff;
      border-radius: 12px;
      margin: 2rem;
      padding: 1rem;

      &::-webkit-scrollbar {
        display: none;
      }

      .replys-li {
        @include flexBox(flex, _, _, _, _);
        border-radius: 10px;
        margin: 5px 5px 0 5px;
        // background-color: #616060;
        opacity: .8;

        .replys-info {
          display: flex;
          align-items: center;
          // align-items: baseline;
          margin: 5px;
          border-right: #fff solid 1px;

          .replys-profile {
            @include widthHeight(70px, 70px);
            border-radius: 50%;
          }

          .replys-nickname {
            margin: 0 10px;
            color: #fff;
            width: 135px;
            text-align: left;
            font-size: 25px;
          }
        }

        .replys-content {
          display: flex;
          width: 100%;

          .replys-comment-box {
            display: flex;
            flex: 1 1 auto;

            .replys-comment {
              @include flexBox(flex, _, center, 5px, _);
              white-space: pre-wrap;
              text-align: left;
              color: #fff;
              font-size: 20px;
            }
          }

          .replys-btn-box {
            // margin-left: auto;
            min-width: 80px;

            .replys-modify,
            .replys-delete {
              @include widthHeight(30px, 30px);
              margin: 5px 5px 0 5px;
              cursor: pointer;

              &:hover {
                animation: shake 0.5s infinite;
              }
            }
          }
        }
      }
    }

    .write-reply-container {
      @include flexBox(flex, center, center, _, _);
      width: 80%;

      .write-reply-area {
        @include widthHeight(80%, 20vh);
        resize: none;
      }

      .write-reply-btn-box {
        @include widthHeight(250px, 50px);
        @include flexBox(flex, space-evenly, _, _, _);

        .modify-reply-btn {
          letter-spacing: 0.3em;
          padding: 5px 20px 5px;
        }

        .cancel-reply-btn {
          letter-spacing: 0.3em;
          padding: 5px 20px 5px;
        }

        .create-reply-btn {
          letter-spacing: 0.3em;
          padding: 5px 40px 5px;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }


  100% {
    transform: translate(1px, -2px) rotate(1deg);
  }
}