.recommend-container {
  // background-color: blue;
  width: 180px;
  // height: 250px;
}

.recommend-content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.recommend {
  margin: 10px 0;
  // background-color: aqua;
  width: 50px;
}

.recommend-artist,
.recommend-title {
  margin: 0;
}

.recommend-artist {
  margin-top: 10px;
}