.recommend-container {
  // background-color: blue;
  width: 180px;
  height: 240px;
  margin-top: 10px;

}

.recommend-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: aqua;
}

.recommend {
  margin: 10px 0;
  width: 50px;
}

.recommend-artist,
.recommend-title {
  margin: 0;
  color: #fff;
}

.recommend-artist {
  margin-top: 10px;
}