@import '../../Common.scss';

.recommend-container {
  // background-color: blue;
  @include widthHeight(180px, 260px);
  margin-top: 40px;

  .recommend-content {
    // background-color: aqua;
    @include widthHeight(150px, 220px);
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;

    .recommend-flex-box {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }

}



.recommend {
  cursor: pointer;
  margin: 0;
  margin: 10px 0;
  margin-left: 15px;
  // width: 100px;
  // width: 100%;
  color: #fff;
  padding: 0;
  font-size: 35px;
  // background-color: red;
}

.recommend-artist,
.recommend-title {
  margin: 0;
  color: #fff;
  // background-color: burlywood;

}

.recommend-artist {
  margin-top: 10px;
}