@import '../../Common.scss';

.recommend-container {
  // background-color: blue;
  @include widthHeight(180px, 260px);

  .recommend-content {
    // background-color: aqua;
    @include widthHeight(150px, 220px);
    margin: 0 auto;
    overflow: hidden;

    .recommend-flex-box {
      display: flex;
      flex-flow: column;
    }
  }

}



.recommend {
  margin: 0;
  margin: 10px 0;
  width: 50px;
  color: #fff;
  padding: 0;
}

.recommend-artist,
.recommend-title {
  margin: 0;
  color: #fff;
  // background-color: burlywood;

}

.recommend-artist {
  margin-top: 10px;
}