.music-info {
    display: flex;
}

.lyrics-container {
    border: 5px solid #764abc;
    .lyrics {
        border: 1px solid #764abc;
    }
    .lyrics-box {
        border: 1px solid #764abc;
    }
}

.play-list-box {
    border: 5px solid #764abc; 
    .play-list {
        list-style: none;
        overflow-y: auto;
        overflow-wrap: break-word;
    }
    .track {
        border: 1px solid #764abc; 
        .track-img{
            width: 100px;
        }  
    }
}


.rhap_container {

}