@import '../../Common.scss';



.landing-logo {
  // background-color: red;
  width: 700px;
  // height: 200px;
  margin-top: 100px;
  margin-left: 90px;
}

.svg {
  // background-color: yellowgreen;
  position: absolute;
  padding: 20px 0;

  margin: -40px 0 0 120px;
  width: 100%;
  z-index: -2;

  svg {
    height: 4250px;
  }

  #move-landing {
    z-index: -1;
  }
}

.container__landing {
  // background-color: red;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}




#section2,
#section4,
#section5,
#section6 {
  @include widthHeight(80%, 400px);
}

#section1,
#section2,
#section4,
#section5,
#section6 {

  // background-color: aqua;
  // @include widthHeight(78%, 400px);
  margin: 0 auto;
  margin-bottom: 350px;

  .landing__figure {
    height: 500px;
    // background-color: chartreuse;
    // width: 90%;
    @include flexBox(flex, space-around, _, _, _);
    margin: 0 auto;
  }

  #landing__figcaption {

    // background-color: dodgerblue;
    // background-color: purple;
    @include widthHeight(53%, 230px);

    margin: 0 0 0 30px;
    position: relative;

    .landing__pre1,
    .landing__pre2 {
      // background-color: darkcyan;
      text-align: left;
      margin: 0;
      margin-top: 20px;
      color: #fff;

    }
  }

  .landing__section1_img {
    // background-color: blueviolet;
    background-image: url('../../assets/landing4.png');
    // background-image: url('../../assets/landing3.png');
    // background-image: url('../../assets/landing2.png');
    // background-image: url('../../assets/landing1.png');
    // background-image: url('../../assets/landing.png');
    @include background(cover, _, no-repeat);
    @include widthHeight(600px, 450px);
    margin-top: 50px;

    transition: all 1s;

    &:hover {
      transform: scale(1.15);
    }
  }

  .landing__section2-img,
  .landing__section4-img,
  .landing__section5-img {
    background-color: blueviolet;
    @include widthHeight(600px, 500px);
    // @include background(contain, _, no-repeat);
    // background-image: url('../../assets/landing1.png');
    // margin-top: -40px;
  }



  #landing__section2-figcaption {
    // background-color: purple;
    background-color: rgb(22, 21, 21, .7);

    @include widthHeight(53%, 230px);
    margin: 0 0 0 30px;
    position: relative;
    margin-top: -20px;

    .landing__pre1,
    .landing__pre2 {
      // background-color: darkcyan;
      text-align: left;
      margin: 0;
      margin-top: 20px;
      color: #fff;

    }

  }

  .landing__pre2 {
    line-height: 1.6;
  }

  .landing__pre3 {
    margin: 0;
    margin-top: 20px;
    color: #fff;
    text-align: right;
    // background-color: red;
    // width: 88.5%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

}


@media (max-width: 1950px) {

  .landing__pre1,
  .landing__section3-pre1 {
    font-size: 55px;
  }

  .landing__pre2 {
    font-size: 20px;
  }

  .landing__section3-pre2 {
    font-size: 20px;
  }

  .landing__section1-pre3 {
    font-size: 16px;
  }

}



@media (max-width: 1600px) {

  .landing__pre1,
  .landing__section3-pre1 {
    font-size: 45px;
  }

  .landing__pre2,
  .landing__section3-pre2 {
    font-size: 18px;
  }

  .landing__section1-pre3 {
    font-size: 16px;
  }

  .slick-next {
    position: absolute;
    top: 55%;
    right: 75px;
  }

}

@media (max-width: 1400px) {

  .landing__pre1,
  .landing__section3-pre1 {
    font-size: 40px;
  }

  .landing__pre2,
  .landing__section3-pre2 {
    font-size: 13px;
  }

  .slick-next {
    position: absolute;
    top: 55%;
    right: 30px;
    // right: 5%;
  }
}

@media (min-width: 1300px) {

  .slick-next {
    position: absolute;
    top: 55%;
    right: 70px;
    // right: 5%;
  }
}

@media (max-width: 960px) {

  .landing__pre1,
  .landing__section3-pre1 {
    font-size: 30px;
  }

  .landing__pre2,
  .landing__section3-pre2 {
    font-size: 13px;
  }
}

@media (max-width: 790px) {

  .landing__pre1,
  .landing__section3-pre1 {
    font-size: 25px;
  }

  .landing__pre2,
  .landing__section3-pre2 {
    font-size: 13px;
  }
}

@media (max-width: 500px) {

  .landing__pre1,
  .landing__section3-pre1 {
    font-size: 18px;
    // margin-top: -10px;
  }

  .landing__pre2,
  .landing__section3-pre2 {
    font-size: 13px;
  }
}




#section1 {
  // background-color: aqua;
  @include widthHeight(80%, 490px);
  // margin: 0 auto;
  margin-bottom: 350px;



  button {
    // @include positionBox(absolute, _, _, -20px, 0);
    background-color: transparent;
    @include widthHeight(250px, 60px);
    @include fontStyle(#fff, _, 18px, _);
    @include borderStyle(1px solid #aaa, 20px);
    background: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);


    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s;

    &::before {
      content: '';
      // @include positionBox(absolute, 0, 0, 0, 100%);
      // @include widthHeight(100%, 100%);
      // background: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
      transition: all .5s;
      z-index: -1;
    }

    &:hover {
      color: #fff;
      animation: shake 0.5s infinite;
    }

    &:hover::before {
      transform: translateX(-100%);
    }
  }

  #landing__section1_figcaption {
    // background-color: dodgerblue;
    @include widthHeight(45%, 440px);
    margin: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .landing__pre1,
    .landing__pre2 {
      // background-color: darkcyan;
      text-align: left;
      margin: 0;
      // margin-top: 20px;
      color: #fff;

    }

    .landing__pre1 {

      font-weight: 900;
      -webkit-text-stroke: 2px black;
    }

    .landing__section1-pre2 {
      line-height: 1.6;
    }
  }

}



#section3 {
  // background-color: aqua;

  width: 100%;
  height: 650px;
  margin-bottom: 300px;


  .landing__section3-figure {
    // background-color: goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
  }

  #landing__figcaption {
    // background-color: dodgerblue;
    @include widthHeight(55%, 100px);
    margin-bottom: 50px;
  }

  .landing__pre1,
  .landing__pre2 {
    // background-color: darkcyan;
    // text-align: left;
    margin: 0;
    margin-top: 20px;
    color: #fff;
    // position: absolute;
    text-align: center;

  }

  .landing__pre1 {
    left: 30%;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    // margin-bottom: 50px;

  }

  .landing__pre2 {
    line-height: 1.6;
    // left: 35%;
    // bottom: 30px;
    margin-top: 60px;
    background-color: rgb(22, 21, 21, .7);
  }

  .slick-slider {
    // background-color: red;
    width: 90%;
    margin: 30px 0;

    .slick-list {
      // background-color: olive;
      margin: 0 auto;
      width: 90%;
    }
  }


  .slick-prev {
    position: absolute;
    left: 70px;
    top: 45%;
  }

  .slick-next {
    position: absolute;
    top: 45%;
    right: 140px;
    // right: 5%;
  }
}

#section4 {


  .landing__pre2 {
    background-color: rgb(22, 21, 21, .7);
    // .landing__section1-pre2
  }
}

#section5 {
  margin-top: 480px;
  // background-color: rgb(22, 21, 21, .7);

  .landing__pre2 {
    background-color: rgb(22, 21, 21, .7);
    // .landing__section1-pre2
  }

  .landing__pre3 {
    background-color: rgb(22, 21, 21, .7);
    // background-color: red;
    padding-top: 22px;
    // .landing__section1-pre2
  }

}


.scrollTop {
  position: fixed;
  bottom: 100px;
  right: 60px;
  // z-index: -10;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }


  100% {
    transform: translate(1px, -2px) rotate(1deg);
  }
}