@import '../../Common.scss';



.landing-logo {
  // background-color: red;
  width: 700px;
  // height: 200px;
  margin-top: 100px;
  margin-left: 40px;
}

.svg {
  // background-color: yellowgreen;
  position: absolute;
  padding: 20px 0;

  margin: -80px 0 0 -55px;
  width: 100%;
  z-index: -2;

  svg {
    height: 4150px;
    // stroke: #e845f4;
    // stroke: #f16ffa;
  }

  #move-landing {
    z-index: -1;
  }
}



.container__landing {
  // background-color: red;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}



#section2,
#section4,
#section5,
#section6 {
  @include widthHeight(78%, 400px);
}

#section1,
#section2,
#section4,
#section5,
#section6 {

  // background-color: aqua;
  // @include widthHeight(78%, 400px);
  margin: 0 auto;
  margin-bottom: 350px;

  .landing__figure {
    // background-color: chartreuse;
    @include flexBox(flex, space-around, _, _, _);
    margin: 0 auto;
  }

  .landing__img {
    // background-color: blueviolet;
    @include widthHeight(480px, 480px);
    @include background(contain, _, no-repeat);
    background-image: url('../../assets/landing1.png');
    margin-top: -40px;

    transition: all 1s;

    &:hover {
      transform: scale(1.15);
    }
  }

  #landing__figcaption {

    // background-color: dodgerblue;
    @include widthHeight(55%, 300px);
    margin: 30px 0 0 30px;
    position: relative;

    .landing__section1-pre1,
    .landing__section1-pre2 {
      // background-color: darkcyan;
      text-align: left;
      margin: 0;
      margin-top: 20px;
      color: #fff;
    }

    .landing__section1-pre2 {
      line-height: 1.6;
    }

    .landing__section1-pre3 {
      margin: 0;
      margin-top: 20px;
      color: #fff;
      text-align: right;
    }

  }
}

@media (max-width: 1950px) {

  .landing__section1-pre1,
  .landing__section3-pre1 {
    font-size: 55px;
  }

  .landing__section1-pre2,
  .landing__section3-pre2 {
    font-size: 20px;
  }

  .landing__section1-pre3 {
    font-size: 16px;
  }
}

@media (max-width: 1600px) {

  .landing__section1-pre1,
  .landing__section3-pre1 {
    font-size: 45px;
  }

  .landing__section1-pre2,
  .landing__section3-pre2 {
    font-size: 18px;
  }

  .landing__section1-pre3 {
    font-size: 16px;
  }
}

@media (max-width: 1400px) {

  .landing__section1-pre1,
  .landing__section3-pre1 {
    font-size: 40px;
  }

  .landing__section1-pre2,
  .landing__section3-pre2 {
    font-size: 13px;
  }
}

@media (max-width: 960px) {

  .landing__section1-pre1,
  .landing__section3-pre1 {
    font-size: 30px;
  }

  .landing__section1-pre2,
  .landing__section3-pre2 {
    font-size: 13px;
  }
}

@media (max-width: 790px) {

  .landing__section1-pre1,
  .landing__section3-pre1 {
    font-size: 25px;
  }

  .landing__section1-pre2,
  .landing__section3-pre2 {
    font-size: 13px;
  }
}

@media (max-width: 500px) {

  .landing__section1-pre1,
  .landing__section3-pre1 {
    font-size: 18px;
    // margin-top: -10px;
  }

  .landing__section1-pre2,
  .landing__section3-pre2 {
    font-size: 13px;
  }
}




#section1 {
  // background-color: aqua;
  @include widthHeight(75%, 490px);
  margin: 0 auto;
  margin-bottom: 350px;

  button {
    // @include positionBox(absolute, _, _, -20px, 0);
    background-color: transparent;
    @include widthHeight(250px, 60px);
    @include fontStyle(#fff, _, 18px, _);
    @include borderStyle(1px solid #aaa, 20px);
    background: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);


    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s;

    &::before {
      content: '';
      // @include positionBox(absolute, 0, 0, 0, 100%);
      // @include widthHeight(100%, 100%);
      // background: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
      transition: all .5s;
      z-index: -1;
    }

    &:hover {
      color: #fff;
      animation: shake 0.5s infinite;
    }

    &:hover::before {
      transform: translateX(-100%);
    }
  }

  #landing__figcaption1 {
    // background-color: dodgerblue;
    @include widthHeight(55%, 440px);
    margin: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .landing__section1-pre1,
    .landing__section1-pre2 {
      // background-color: darkcyan;
      text-align: left;
      margin: 0;
      // margin-top: 20px;
      color: #fff;
    }

    .landing__section1-pre2 {
      line-height: 1.6;
    }
  }

}

.landing__section4-img {
  // background-color: purple;
  background-image: url('../../assets/cyber5.gif');
  @include background(cover, _, no-repeat);
  @include widthHeight(400px, 400px);
  border-radius: 50px;
}

#section3 {
  // background-color: aqua;
  position: relative;
  width: 100%;
  height: 650px;
  margin-bottom: 300px;

  .landing__section3-figure {
    // background-color: blue
  }

  #landing__figcaption {
    // background-color: dodgerblue;
    @include widthHeight(55%, 100px);
    margin-bottom: 50px;
  }

  .landing__section3-pre1,
  .landing__section3-pre2 {
    // background-color: darkcyan;
    // text-align: left;
    margin: 0;
    margin-top: 20px;
    color: #fff;
    position: absolute;

  }

  .landing__section3-pre1 {
    left: 30%;
  }

  .landing__section3-pre2 {
    line-height: 1.6;
    left: 35%;
    bottom: 30px;
  }

  .slick-slider {
    // background-color: red;
    width: 70%;
    padding-left: 60px;
    margin: 0 auto;
  }

  .slick-prev {
    position: absolute;
    left: 220px;
    top: 50%;
  }

  .slick-next {
    position: absolute;
    top: 50%;
    right: 220px;
  }
}


.scrollTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  // z-index: -10;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }


  100% {
    transform: translate(1px, -2px) rotate(1deg);
  }
}