@import '../../Common.scss';



.modal-backdrop__login {
  @include positionBox(fixed, 0, 0, _, _);
  height: 100vh;
  background: black;
  opacity: .8;
  // filter: alpha(opacity=80);
  z-index: 10;

}

.a11yHidden {
  @extend %a11yHidden
}

;




.modal-container__login {
  color: #fff;
  @include positionBox(fixed, 50%, _, _, 50%);

  margin: -150px 0 0 -200px;
  z-index: 20;
  border-radius: 35px;
  background: linear-gradient(to left, #170B24, #1B0D35, #1F104D);
  border: 2.5px solid rgb(255, 117, 248);
  transform: translate(-5%, -25%);

  fieldset {
    @include flexBox(flex, space-around, center, _, 20px);
    flex-direction: column;
    @include widthHeight(400px, 500px);

    .sign-login {
      text-align: center;
    }
  }

  input[class^="modal__"] {
    @include widthHeight(300px, 50px);
    border-radius: 50px;
    background-color: #1F2231;
    outline: none;
    color: #fff;
    padding-left: 20px;
    font-size: 18px;
  }

  // .keeping-login-sign-up-btn {
  //   // color: #fff;
  //   @include flexBox(flex, space-between, _, -20px 0 0 0, _);
  //   width: 325px;
  //   font-size: 15px;

  //   button {
  //     border: 0;
  //     font-size: 15px;
  //     background-color: transparent;
  //     cursor: pointer;
  //   }
  // }
  .sign-up-btn {
    color: #fff;
    border: 1px solid rgb(255, 117, 248);
    font-size: 16.5px;
    border-radius: 10px;
    padding: 13px 40px;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }

  .modal__login-btn {
    color: #fff;
    background-color: transparent;
    border: 0;
    font-size: 16.5px;
    border: 1px solid rgb(255, 117, 248);
    border-radius: 10px;
    padding: 13px 40px;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }

  .modal-close-btn {
    color: #fff;
    @include positionBox(absolute, 3%, 5%, _, _);
    font-size: 20px;
    cursor: pointer;
  }
}

.sign-up-btn {
  border: 0;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}