@import '../Nav/index.scss';

.modal-backdrop__login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #000;
  opacity: .8;
  filter: alpha(opacity=80);
  z-index: 10;
}

h1 {
  @extend %h1
}

.modal-container__login {
  position: absolute;
  top: 40%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;

  width: 400px;
  min-height: 500px;


  margin: -100px 0 0 -200px;
  padding: 10px;

  text-align: center;
  z-index: 20;

  input[class^="modal__"] {
    width: 300px;
    height: 50px;

    padding-left: 20px;

    font-size: 18px;
  }

  .keeping-login-sign-up-btn {
    display: flex;
    justify-content: space-between;

    width: 330px;
    font-size: 15px;
    margin-top: -20px;

    button {
      border: 0;
      font-size: 15px;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .modal__login-btn {
    background-color: transparent;
    border: 0;
    font-size: 18px;
    border: 1px solid;
    border-radius: 10px;
    padding: 13px 40px;
    width: 200px;
    cursor: pointer;
  }
}

[for$="-btn"] {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 20px;
  cursor: pointer;
}