@import '../../Common.scss';



.modal-backdrop__login {
  @include positionBox(fixed, 0, 0, _, _);
  height: 100vh;
  background: black;
  opacity: .8;
  z-index: 10;
}

.a11yHidden {
  @extend %a11yHidden
}

;


.modal-container__login {
  @include positionBox(fixed, 50%, _, _, 50%);
  @include borderStyle(2.5px solid rgb(255, 117, 248), 35px);
  color: #fff;
  margin: -150px 0 0 -200px;
  background: linear-gradient(to left, #170B24, #1B0D35, #1F104D);
  transform: translate(-5%, -25%);
  z-index: 20;

  fieldset {
    flex-direction: column;
    @include flexBox(flex, space-around, center, _, 20px);
    @include widthHeight(400px, 500px);

    .sign-login {
      text-align: center;
    }
  }

  input[class^="modal__"] {
    @include widthHeight(300px, 50px);
    @include fontStyle(#fff, _, 18px, _);
    border-radius: 50px;
    background-color: #1F2231;
    outline: none;
    padding-left: 20px;
  }

  .sign-up-btn {
    @include borderStyle(1px solid rgb(255, 117, 248), 10px);
    @include widthHeight(200px, 50px);
    @include fontStyle(#fff, _, 16.5px, _);
    padding: 13px 40px;
    cursor: pointer;
  }

  .modal__login-btn {

    @include fontStyle(#fff, _, 16.5px, _);
    @include borderStyle(1px solid rgb(255, 117, 248), 10px);
    @include widthHeight(200px, 50px);
    background-color: transparent;
    padding: 13px 40px;
    cursor: pointer;
  }

  .modal-close-btn {
    @include fontStyle(#fff, _, 20px, _);
    @include positionBox(absolute, 3%, 5%, _, _);
    cursor: pointer;
  }
}

.sign-up-btn {
  border: 0;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}