@import url('https://fonts.googleapis.com/css2?family=Allison&family=Architects+Daughter&family=Dancing+Script&family=Hina+Mincho&family=Lobster&family=Pacifico&display=swap');
@import '../../Common.scss';


.form__password,
.form__div__nickname {
  width: 900px;
}


.form__div__password-flex-box,
.form__div__nickname-btn-flex-box {
  width: 700px;
}


.div__form__password_profile-image,
.form__nickname,
.admin-change,
.form__my-page__Condition {
  width: 1200px;
}


.my-page-container {
  @include flexBox(flex, _, center, 90px 0 0 0, 0 0 400px 0);
  flex-flow: column;

  // background: #000;
  // opacity: .95;

  position: relative;

  .nickName-title {
    font-size: 25px;
    color: #fff;
    // background-color: red;

    .user-nickName {
      color: #fff;
      font-family: 'Pacifico', cursive;
      font-size: 40px;

      /* White glow */
      &:hover {
        text-shadow:
          0 0 7px rgb(254, 3, 128), 0 0 10px rgb(254, 3, 128), 0 0 21px rgb(254, 3, 128)
      }
    }
  }
}


.form__password {
  // background-color: red;
  margin: 0 auto;
  display: flex;
  flex-flow: column;

  .form__div__password {
    // background-color: skyblue;
    @include widthHeight(800px, 100px);
    margin: 0 auto;

    .form__div__password-flex-box {
      // background-color: burlywood;
      @include flexBox(flex, space-between, _, _, _);
    }

    input {

      @include widthHeight(550px, 50px);
      outline: none;
      padding-left: 10px;
      display: block;
      border: 0;
      border-bottom: 3px solid transparent;
      border-image: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
      border-image-slice: 1;
      background-color: transparent;
      color: #fff;

      &::placeholder {
        color: #fff;
      }
    }

    p {
      margin: 0;
      padding: 0;
      margin-top: 5px;
      margin-left: -10px;

      font-size: 15px;
      width: 540px;
      color: red;
    }

    &:nth-of-type(3) {
      // background-color: green;
      position: relative;

      p {
        width: 210px;
        color: red;
      }

      .change-btn-password {
        @include widthHeight(80px, 50px);
        margin-right: 30px;
        letter-spacing: 0.3em;
      }
    }
  }

}


.div__form__password_profile-image {
  // background-color: rebeccapurple;
  margin: 0 auto;
  display: flex;
  margin-top: 60px;

  .form__profile-image_delete-btn {
    // background-color: greenyellow;
    @include widthHeight(200px, 270px);
    @include flexBox(flex, space-between, center, _, _);
    flex-flow: column;

    position: relative;


    .form__profile-image {
      // background-color: skyblue;
      height: 220px;

      @include flexBox(flex, space-around, center, _, _);
      flex-flow: column;

      img {
        @include widthHeight(150px, 150px);
        object-fit: cover;
        border: 1px solid;
        border-radius: 50%;
        margin-top: -10px;
      }

      .add-profile-image-btn {
        font-size: 100px;
        color: #ccc;
        cursor: pointer;
        @include positionBox(absolute, 10%, 37%, _, _);
      }

      .change-btn {
        @include widthHeight(120px, 40px);
      }
    }

    .delete-btn {
      @include widthHeight(120px, 40px);
    }
  }
}


.form__nickname {
  // background-color: rebeccapurple;
  margin-top: 100px;

  .form__div__nickname {
    // background-color: red;
    display: flex;
    flex-flow: column;
    margin-left: 255px;

    .form__div__nickname-btn-flex-box {
      @include flexBox(flex, space-between, _, _, _);
      margin-left: 45px;
    }

    input {
      @include widthHeight(400px, 50px);
      outline: none;
      padding-left: 10px;
      border: 0;
      border-bottom: 3px solid transparent;
      border-image: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
      border-image-slice: 1;
      background-color: transparent;
      color: #fff;
    }
  }

  p {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 50px;

    font-size: 15px;
    color: red;
    width: 230px;
    text-align: left;
  }

  .check-duplicate-btn-nickname {
    @include widthHeight(110px, 50px);
    letter-spacing: 0.3em;
  }

  .change-btn-nickname {
    @include widthHeight(80px, 50px);
    letter-spacing: 0.3em;
    margin-right: 30px;
  }

}


.admin-change {
  // background-color: rebeccapurple;
  margin: 0 auto;
  margin-top: 100px;
  @include flexBox(flex, _, center, _, _);

  .admin__change-box {
    // background-color: red;
    @include flexBox(flex, _, center, _, _);
    width: 300px;
    margin: 0 auto;

    input[type="checkbox"] {
      zoom: 2.5;
      outline: none;
    }

    p {
      width: 350px;
      font-size: 20px;
      color: #fff;
    }
  }
}

.form__my-page__Condition {
  // background-color: rebeccapurple;
  margin: 0 auto;

  @include flexBox(flex, _, center, _, _);
  flex-flow: column;

  position: relative;
  margin-top: 50px;

  div[class^="form__div__"] {
    @include widthHeight(800px, 80px);

    &:nth-of-type(2) {
      // background-color: skyblue;
      display: flex;
      flex-flow: column;
      padding-left: 24%;
      height: 110px;
    }
  }

  input {
    @include widthHeight(500px, 40px);
    outline: none;
    padding-left: 10px;
    border: 0;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #1e1c50, #B80E65, #1791B1);
    border-image-slice: 1;
    background-color: transparent;
    color: #fff;
  }

  label {
    // background-color: greenyellow;
    color: #fff;
    display: block;
    width: 50px;
  }

  label:not(.debut-date) {
    @extend %a11yHidden;
  }

  .change-admin-btn {
    @include positionBox(absolute, _, 340px, -45px, _);
    @include widthHeight(120px, 45px);
    letter-spacing: 0.3em;
  }

  input[type=date]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1);
  }

}



.with-drawal-btn {
  @include positionBox(absolute, _, _, 150px, _);
  @include widthHeight(130px, 50px);
  letter-spacing: 0.3em;
}