@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
body {
  margin: 0;
}

.navigation h1, h1 {
  font-family: 'Staatliches', cursive;
  display: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.button-list button[class^="navigation__"], .button-list-of-profile-image button[class^="navigation__"] {
  width: _;
  height: 50px;
  background-color: transparent;
  padding: 0;
  border: 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.a11yHidden, .modal-container__sign-out .a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: _;
  padding: 0 70px;
  width: _;
  height: 150px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  margin: _;
  padding: _;
  width: 230px;
  height: _;
  position: relative;
}

.button-list .player-image {
  width: 30px;
  height: 30px;
}

.button-list-of-profile-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  margin: _;
  padding: _;
  width: 150px;
  height: _;
  position: relative;
}

.button-list-of-profile-image .navigation__profile-image {
  width: 50px;
  height: 50px;
  background: url("https://take-closet-bucket.s3.ap-northeast-2.amazonaws.com/data/%ED%94%84%EB%A1%9C%ED%95%84+%EC%9D%B4%EB%AF%B8%EC%A7%80/%ED%94%84%EB%A1%9C%ED%95%84.jpg"), no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.button-list-of-profile-image .show-user-profile-list {
  position: absolute;
  top: 80%;
  left: -10%;
  list-style: none;
  padding: 0;
}

.button-list-of-profile-image .show-user-profile-list li {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.button-list-of-profile-image .player-image {
  width: 30px;
  height: 30px;
}

.hide {
  display: none;
}

body {
  margin: 0;
}

.navigation h1, h1 {
  font-family: 'Staatliches', cursive;
  display: _;
  -webkit-box-pack: _;
      -ms-flex-pack: _;
          justify-content: _;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.button-list button[class^="navigation__"], .button-list-of-profile-image button[class^="navigation__"] {
  width: _;
  height: 50px;
  background-color: transparent;
  padding: 0;
  border: 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.a11yHidden, .modal-container__sign-out .a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: _;
  padding: 0 70px;
  width: _;
  height: 150px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  margin: _;
  padding: _;
  width: 230px;
  height: _;
  position: relative;
}

.button-list .player-image {
  width: 30px;
  height: 30px;
}

.button-list-of-profile-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  margin: _;
  padding: _;
  width: 150px;
  height: _;
  position: relative;
}

.button-list-of-profile-image .navigation__profile-image {
  width: 50px;
  height: 50px;
  background: url("https://take-closet-bucket.s3.ap-northeast-2.amazonaws.com/data/%ED%94%84%EB%A1%9C%ED%95%84+%EC%9D%B4%EB%AF%B8%EC%A7%80/%ED%94%84%EB%A1%9C%ED%95%84.jpg"), no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.button-list-of-profile-image .show-user-profile-list {
  position: absolute;
  top: 80%;
  left: -10%;
  list-style: none;
  padding: 0;
}

.button-list-of-profile-image .show-user-profile-list li {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.button-list-of-profile-image .player-image {
  width: 30px;
  height: 30px;
}

.hide {
  display: none;
}

.modal-backdrop__login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .8;
  filter: alpha(opacity=80);
  z-index: 10;
}

.modal-container__login {
  position: absolute;
  top: 40%;
  bottom: _;
  left: 50%;
  right: _;
  margin: -150px 0 0 -200px;
  z-index: 20;
  background-color: #fff;
}

.modal-container__login fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: _;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 500px;
}

.modal-container__login input[class^="modal__"] {
  width: 300px;
  height: 50px;
  padding-left: 20px;
  font-size: 18px;
}

.modal-container__login .keeping-login-sign-up-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: _;
      -ms-flex-align: _;
          align-items: _;
  margin: -20px 0 0 0;
  padding: _;
  width: 330px;
  font-size: 15px;
}

.modal-container__login .keeping-login-sign-up-btn button {
  border: 0;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}

.modal-container__login .modal__login-btn {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  border: 1px solid;
  border-radius: 10px;
  padding: 13px 40px;
  width: 200px;
  cursor: pointer;
}

.modal-container__login .modal-close-btn {
  position: absolute;
  top: 3%;
  bottom: _;
  left: _;
  right: 5%;
  font-size: 20px;
  cursor: pointer;
}

.modal-backdrop__sign-out {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .8;
  filter: alpha(opacity=80);
  z-index: 10;
}

.modal-container__sign-out {
  position: absolute;
  top: 50%;
  bottom: _;
  left: 50%;
  right: _;
  margin: -150px 0 0 -200px;
  z-index: 20;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: _;
  padding: _;
  width: 400px;
  height: 200px;
}

.modal-container__sign-out fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: _;
  padding: _;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 100px;
}

.modal-container__sign-out .sign-out-modal-title {
  margin: 0;
  font-size: 18px;
}

.modal-container__sign-out .modal__sign-out-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: _;
  padding: _;
  width: 150px;
  height: _;
}

.modal-container__sign-out .modal__sign-out-btn button {
  background-color: transparent;
  border: 0;
  font-size: 16px;
  cursor: pointer;
}

.modal-container__sign-out .sign-out-modal-close-btn {
  position: absolute;
  top: 3%;
  bottom: _;
  left: _;
  right: 5%;
  font-size: 20px;
  cursor: pointer;
}
