#main {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // height: 100%;
  .main-h1{
    font-size: 45px;
  }
  .main-slides {
    display: flex;
    width: 1100px;
    margin: 20px auto;
    // position: relative;
  }

  .main-genre {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1600px;

    .main-genre-title {
      text-align: start;
      margin: 0 0 0px 0px;
      font-size: 25px;
    }
    .genre-bg:hover {

    }
  }

  .main-hashtag {
    display: flex;
    flex-direction: column;
    margin: 0 0 100px 0;
    width: 1100px;

    .main-hashtag-title {
      text-align: start;
      margin: 0 0 20px 30px;
      font-size: 25px;
    }
  }



}