// background: linear-gradient(to left, #c5b4e0, #83c2fd);

#sidebar {
    width: 700px;
    color: #fff;
    border-right:  2.5px solid #360074;
    // background: linear-gradient(to left, #c5b4e0, #83c2fd);
    // backdrop-filter: blur(30px);
    // background: linear-gradient(to left, #170B24, #1B0D35, #1F104D);
    // box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 4px rgb(254, 3, 128),
    // 0 0 8px rgb(254, 3, 128), 0 0 9px rgb(254, 3, 128), 0 0 10px rgb(254, 3, 128), 0 0 15px rgb(254, 3, 128);
    background: linear-gradient(to left, #170B24, #1B0D35, #1F104D);
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    .exit-sidebar {
        position: fixed;
        margin: 3px;
        right: 0;
        // border-radius: 20%;
        z-index: 3;
        position:absolute;
        cursor: pointer;
        background-color: transparent;
        // padding: 1;
        border: 0;
        // font-size: 18px;
        // text-align: center;
        cursor: pointer;
    }
    
    .sidebar-control{
        flex: 0 0 3;
        .sidebar-info {
            display: flex;
            align-items: center;
            // height: 100%;
            justify-content: space-between;
            // background: linear-gradient(to left, #c5b4e0, #83c2fd);
            // color: rgba(0, 0, 0, 0.644);
            .square{
                width: 200px;
                height: 200px; 
                // padding:5px;
                border-radius: 10%;
                overflow: hidden ;
                box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 4px #4566F6,
    0 0 2px #4566F6, 0 0 4px #4566F6, 0 0 5px #4566F6, 0 0 8px #4566F6;
                margin: 5px;
                .inner-square{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
        
                }
            }

            .current-info {
                width: 440px;
                height: 220px;
                // margin: 0 auto;
                display: flex;
                flex-direction: column;
                // justify-content: space-around;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                // text-align: center;
                .inner-title {
                    margin: 10px;
                    // width:380px;
                    // height: 50px;
                    font-size: 35px;
                    // flex: 5 0 0;
                }
                .inner-nickname {
                    font-size: 20px;
                    // flex: 5 0 0
                }
            }

            .shuffle {
                margin-right: 5px;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                #random-button{
                    background-color: transparent;
                    padding: 0;
                    border: 0;
                    font-size: 18px;
                    text-align: center;
                    cursor: pointer;
                    #random-button-img {
                        width: 32px
                    }
                }
            }
        }
    }

    .sidebar-play-list-box{
        // min-height: 72.2%;
        padding: 5px 0;
        flex: 0 0 7;
        overflow-y: scroll;
        // background: linear-gradient(to left, #c5b4e0, #83c2fd);
        .sidebar-play-ul {
            width: 100%;
            height: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            .track {
                // height: 132px;
                // background: linear-gradient(to left, #c5b4e0, #83c2fd);
                position:relative;
                // background-color: rgb(226, 226, 226);
                // width: 100%;
                // height: 100%;
                color: #fff;
                cursor: pointer;
                margin: 0 10px;
                border-radius: 80px;
                // border-bottom: 1px solid rgb(207, 215, 255);
                    .track-delete{
                    display:none;
                    // background: blueviolet;
                    // border-color: blanchedalmond;
                    padding:0;
                    border-radius: 20%;
                    z-index: 3;
                    position:absolute;
                    cursor: pointer;
                    background-color: transparent;
                    border: 0;
                    // font-size: 18px;
                    text-align: center;
                    cursor: pointer;
                    right: 25px;
                    top: 42.5%;
                    // transform: translate(-50%)
                }
                .track-box{
                    margin: 5px 0;
                    // width: 600px;
                    // box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 4px rgb(254, 3, 128),
    // 0 0 8px rgb(254, 3, 128), 0 0 9px rgb(254, 3, 128), 0 0 10px rgb(254, 3, 128), 0 0 15px rgb(254, 3, 128);
                    // background-color: rgb(226, 226, 226);
                    border-radius: 20px;
                    padding: 10px;
                    display: flex;
                    // border-radius: 20%;
                    // height: 100%;
                    .track-img {
                        // border: 1px solid red;
                        // box-shadow: 0 0 0 0 rgb(0 0 0 / 20%);
                        border-radius: 50%;
                        height: 150px;
                        width: 150px;
                    }  
                    .track-info {
                        // border: 1px solid red;
                        // height: 100%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .track-title {
                            // border: 1px solid red;
                            // width: 300px;
                            // height: 32px;
                            // overflow: hidden;
                            // text-overflow: ellipsis;
                            margin: 0 0 15px 0;
                            font-size: 25px;
                            
                        }
                        .track-artist{
                            margin: 0 0 10px 0;
                            // border: 1px solid red;
                        }
        
                    }
            
                }
            }
            .track:hover{
                // box-shadow: inset 0 0 1px #fff, inset 0 0 3px #fff, inset 0 0 3px #fff, inset 0 0 4px rgb(254, 3, 128), inset 0 0 2px rgb(254, 3, 128), inset 0 0 4px rgb(254, 3, 128), inset 0 0 5px rgb(254, 3, 128), inset 0 0 8px rgb(254, 3, 128);
                box-shadow: inset 0 0 1px #fff, inset 0 0 3px #fff, inset 0 0 3px #fff, inset 0 0 4px #4566F6, inset 0 0 8px #4566F6, inset 0 0 9px #4566F6, inset 0 0 10px #4566F6, inset 0 0 15px #4566F6;
                transform: scale(1.013);
                transition: .3s;
                .track-delete {
                    display: block;
                }
            }

            .track:active{
                transform: scale(1);
                background-color: #360074b6;
            }
        }
    }
    
    .sidebar-play-list-box::-webkit-scrollbar {
        display: none; 
    }

    .min-play{
        .rhap_progress-section{
            display: none;
        }
    }

    .rhap_button-clear {
        // color: rgba(0, 0, 0, 0.644);
    }

    .rhap_time {
        color: #fff
    }

    .rhap_container{
        box-shadow: 0 0 0 0;
        width: 100%;
        background-color: transparent;
        // background-color: #29394E;
        // background: rgb(255, 255, 255);
        // background: linear-gradient(to left, #c5b4e0, #83c2fd);
        // border-top: 1px solid rgb(207, 215, 255);
        // border-bottom: 1px solid rgb(207, 215, 255);
        // box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 4px rgb(254, 3, 128),
    // 0 0 2px rgb(254, 3, 128), 0 0 4px rgb(254, 3, 128), 0 0 5px rgb(254, 3, 128), 0 0 8px rgb(254, 3, 128);
    }


}

.sidebar-opened {
    transform: translate(0);
    transition: transform 0.25s;
}

.sidebar-closed {
    transform: translate(-100%);
    transition: transform 0.25s;
}